.container {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    width: 384px;
    height: Fixed 83px;
    gap: 5px;
    opacity: 0px;
    /* background-color:bisque; */

}

.container input {
    border: 1px solid #808A93

}

input{
    color: blueviolet;
}