.filter-section{
  width: 800px;
  display: flex;
  flex-direction: column;
}
.filters{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.applied-filters{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dropdown-content{
  position:absolute;
  z-index: 10;
  background-color: white;
}
.region-dropdown-menu-open {
  margin-top: 20px;
  display: flex;
  position: absolute;
  width: 731px;
  height: 284px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: start;
  box-sizing: border-box;
  border:3px solid red ;
}

.range-dropdown-open {
  width: 382px;
  height: 284px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border:3px solid red ;
  position: absolute;
}
.price-dropdown-open{
  width: 382px;
  height: 284px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border:3px solid red ;
  position: absolute;
}

.bedroom-category{
  width: 282px;
  border:3px solid red ;
  position: absolute;
}


.dropdown-menu-closed {
  display: none;
}



.dropdown-menu-region-button {
  flex-direction: column;
}

.dropdown-menu-price-category-button {
  flex-direction: column;
  
}


.range-suggestions-list{
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.range-suggestions-column{
  display: flex;
  flex-direction: column;
  
}
.suggestion-button{
  flex-direction: column;
}

.button-arrow-wrapper{
  gap: 2px;
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}
.selected-filters-bar {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


  .error-message{
    color: red;
    background-color: aquamarine;
    
  }

  
  .dropdown-button {
    background-color: #fff; 
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
  }
  

  
  /* .arrow-icon {
    width: 16px;
    height: 16px;
  } */
  
  /* .dropdown-menu {
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10;
    background-color: white;
  } */
   */

  
/*   
  .range-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .range-inputs input {
    width: 80px;
  }
  
  .range-suggestions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
   */

 
 

  

  
  .apply-button {
    width: 77px;
    height: 33px;
    padding: 8px 14px;
    border-radius: 8px 0px 0px 0px;
    background: #F93B1D;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .selected-filters-bar {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
